$vit = white;
$svart = #252525;

body {
	margin: 0;
	font-family: Verdana;
}

header {
	color: $vit;
	background-color: $svart;
	padding: 10px;
}

h1,
nav {
	width: 50%;
	display: inline-block;
}

h1 {
	margin: 0;
}

p {
	padding: 10px;
	line-height: 1.5;
}