#lgal-bigview {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

#lgal-bigview button {
    font-size: 5vh;
    font-weight: bold;
    color: inherit;
    background-color: transparent;
    border: none; 
    outline: 0;
}

.lgal-navspan {
	color: inherit;
	display: table-cell;
	vertical-align: middle;
}

.lgal-showcase {
	display: block;
    min-height: 100px;
    min-width: 100px;
	margin: 0px auto;
    background: url(https://rawgit.com/lausek/lgal/gh-pages/assets/loading.gif);
}

#lgal-bigview img {
	max-width: 70%;
	height: auto;
}
